.root {

}

.button {
}

.button:disabled {

}

.button:pressed {

}

.board-pane {
    -fx-pref-width: 200;
    -fx-hgap: 3;
    -fx-vgap: 3;
}

.deck-pane {
    -fx-spacing: 3;
}

.board-cell {
}

.board-empty {
    -fx-opacity: 0;
}


.deck-image {
}

TextField.invalid {
    -fx-border-color: red;
}
